.activeFilter{
    background-color: #4864F5;
    color: white;
}

.filter-menu{
    display: flex;
    align-items: center;
    overflow:hidden;
}

.filter-menu button{
    padding: 0.75rem 4rem;
    font-size: 1.15rem;
    font-weight: bold;
    border: 0;
    flex-grow: 1;
}

