.post-container{
    display: flex;
    margin: 1rem 0;
}

.post-img{
    max-width: 80%;
    margin: 0.5rem auto;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    padding: 0.5rem 1rem;
    background-color: rgb(243, 245, 247);
    min-height: fit-content;
}