.post-container{
    display: flex;
    margin: 1rem 0;
    overflow: scroll;
}

.post-img{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.post-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
    padding: 0.5rem 1rem;
    background-color: rgb(243, 245, 247);
    min-height: fit-content;
}