li{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}

.stats-container{
    background-color: lightsteelblue;
    width: 8%;
    display: flex;
    align-items: center;
    padding: 1rem 0.25rem;
    flex-direction: column;
    justify-content: flex-start;
}

.content-container{
    background-color: rgb(243, 245, 247);
    width: 92%;
    padding: 0.5rem 1rem;
    display: flex;
}

.text-container{
    padding: 0 0.5rem;
}

.title{
    font-weight: bold;
    font-size: 1.15rem;
}

.subreddit-name{
    font-size: 0.85rem;
}

.author-time{
    font-size: 0.75rem;
}

.selftext{
    word-break: break-all;
    font-size: 0.95rem;
}